db_38-master/db_38-master/AhmedAdelSalama-06_dbms-9ede082c737b/abdo/ieee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="row">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="string"/>
                <xs:element name="weight" type="int"/>
                <xs:element name="age" type="int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
